Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
*/*/.pyc
*/*/.csv
*/*/__init__.py
*/*/__pycache__*
*/*/.pytest_cache*
.travis.yml
deploy_dockerhub.sh
LICENSE
README.md